casadi==3.7.2
control==0.10.2
cvxpy==1.7.2
d3rlpy==2.0.4
gymnasium==1.0.0
matplotlib==3.10.6
numpy==1.26.4
pandas==2.3.3
scikit-learn==1.7.2
scipy==1.15.3
torch==1.13.1
transformers==4.43.4
wandb==0.21.4
clarabel==0.11.1
osqp==1.0.4
seaborn==0.13.2
sympy==1.14.0
pydantic<2.0
